html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

.index {
  background-image: url('img/landingpage.gif');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
}

.landtext {
  padding-top: 10%;
  text-align: center;
  color: white;
}

#landesc {
  font-size: 145%;
}

#landtitle {
  font-size: 440%;
}

.logo {
  width: 40%;
  height: 40%;
  padding-left: 10%;
}

.main{
  margin-left: 80%;
}
.acnav {
  right: 5%;
  position: absolute;
}
.navbar-nav a {
  color: white;
  padding-bottom: 0%;
  border-bottom: 1px solid black;
  font-size: 87%;
}


#navbar {
  padding-bottom: 0%;
  background: linear-gradient(to top, #000000 0%, #062dda 200%);
}

.state {
  color: white;
  text-align: center;
}

.misquote {
  color: white;
  padding-top: 25%;
  padding-right: 2%;
  text-align: center;
}


.ethbul {
  color: white;
  margin: 2% 5% 2% 5%;
}

.downup {
  background: linear-gradient(to bottom, #000000 0%, #000066 100%);
}

.updown {
  background: linear-gradient(to top, #000000 0%, #000066 100%);
}

.teamback {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url('img/ethicsbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ethicback {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url('img/teambackground.jpg');
  height: 100%;
}
.secs {
	height: 100%;
}
.sec1, .sec2, .sec3 {
	display: none;	
	height: 100%;
}

/* these names are dumb and too long, I'll fix them later */
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: white;
}

.team-item {
  flex: 1 0 30%;
  height: 600px;
}

.team-card {
  height: 500px;
  width: 325px;
  margin: auto;
  background-color: rgba(18, 18, 18, .8);
  border-radius: 5%;
}

.team-card-image, .team-card-title {
  position: relative;
}

.team-card-image {
  height: 15%;
}

.team-card-image >img, .team-card-title > h2 {
  /*this centers it vertically and horizontally. as recommended by w3.org. I hate it and its stupid */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  ;
  transform: translate(-50%, -50%);
}

.team-card-image>img {
  border-radius: 50%;
  border: 1px solid black;
  height: 60px;
  width: 60px;
}

.team-card-title {
  height: 10%;
}

.team-card-description {
  height: 75%;
}

.team-card-description>p {
  padding: 4%;
}

@media only screen and (max-width: 768px) {
  .team-item {
    flex: 1 0 50%;
  }
}

@media only screen and (max-width: 425px) {
  .team-item {
    flex: 1 0 100%;
  }
}

.productjumbo {
padding: 21%;
}

.armback {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('img/jumboarm.jpg');
  height: 100%;
}

.eyeback {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, .97), rgba(0, 0, 0, .8)), url('img/jumboeye.jpg');
  height: 100%;
}

.exoback {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('img/jumboexo.jpg');
  height: 100%;
}

.exodesctit {
  color: white;
  text-align: center;
  font: 200%;
}

.exosuit {
  padding-left: 10%;
}

.exodesc {
  color: white;
  font-size: 175%;
  text-align: center;
}

.navopacity {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
}

.exobreakpic{
 background: linear-gradient(rgba(0, 0, 102, .3), rgba(0, 0, 102, .3));
}

.exobreakdown {
  height: 97%;
  width: 97%;
  margin-top: 2%;
  margin-left: 2%;
  margin-top: 1%;
}

.exobreaktit {
  color: white;
  text-align: center;
}

.exobreakdesc {
  color: white;
  font-size: 175%;
}