html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}

.index {
  background-image: url('img/landingpage.gif');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
}

.landtext {
  padding-top: 10%;
  text-align: center;
  color: white;
}

#landesc {
  font-size: 145%;
}

#landtitle {
  font-size: 440%;
}

.logo {
  width: 40%;
  height: 40%;
  padding-left: 10%;
}

.main {
  margin-left: 80%;
}

.sunav {
  right: 10%;
  position: absolute;
}

.lginnav {
  right: 5%;
  position: absolute;
}

.navbar-nav a {
  color: white;
  padding-bottom: 0%;
  border-bottom: 1px solid black;
  font-size: 87%;
}


#navbar {
  padding-bottom: 0%;
  background: linear-gradient(to top, #000000 0%, #062dda 200%);
}

.state {
  color: white;
  text-align: center;
}

.misquote {
  color: white;
  padding-top: 25%;
  padding-right: 2%;
  text-align: center;
}


.ethbul {
  color: white;
  margin: 2% 5% 2% 5%;
}

.downup {
  background: linear-gradient(to bottom, #000000 0%, #000066 100%);
}

.updown {
  background: linear-gradient(to top, #000000 0%, #000066 100%);
}

.teamback {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url('img/ethicsbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ethicback {
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url('img/teambackground.jpg');
  height: 100%;
}

.secs {
  height: 100%;
}

.sec1,
.sec2,
.sec3 {
  display: none;
  height: 100%;
}

/* these names are dumb and too long, I'll fix them later */
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: white;
}

.team-item {
  flex: 1 0 30%;
  height: 600px;
}

.team-card {
  height: 500px;
  width: 325px;
  margin: auto;
  background-color: rgba(18, 18, 18, .8);
  border-radius: 5%;
}

.team-card-image,
.team-card-title {
  position: relative;
}

.team-card-image {
  height: 15%;
}

.team-card-image>img,
.team-card-title>h2 {
  /*this centers it vertically and horizontally. as recommended by w3.org. I hate it and its stupid */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  ;
  transform: translate(-50%, -50%);
}

.team-card-image>img {
  border-radius: 50%;
  border: 1px solid black;
  height: 60px;
  width: 60px;
}

.team-card-title {
  height: 10%;
}

.team-card-description {
  height: 75%;
}

.team-card-description>p {
  padding: 4%;
}

@media only screen and (max-width: 768px) {
  .team-item {
    flex: 1 0 50%;
  }
}

@media only screen and (max-width: 425px) {
  .team-item {
    flex: 1 0 100%;
  }
}

.productjumbo {
  padding: 21%;
}

.armback {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('img/jumboarm.jpg');
}

.eyeback {
  background: linear-gradient(rgba(0, 0, 0, .97), rgba(0, 0, 0, .8)), url('img/jumboeye.jpg');
}

.exoback {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('img/jumboexo.jpg');
}

.productback {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;

}

.exodesctit {
  color: white;
  text-align: center;
  font-size: 175%;
}

.exosuit {
  padding-left: 10%;
}

.exodesc {
  color: white;
  font-size: 100%;
  text-align: center;
  padding: 0% 3% 0% 3%;
}

.navopacity {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
}

.exobreak {
  background: linear-gradient(rgba(0, 0, 102, .3), rgba(0, 0, 102, .3));
}

.exobreakdown {
  height: 97%;
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
}

.exobreaktit {
  color: white;
  text-align: center;
  font-size: 250%;
}

.exobreakdesc {
  color: white;
  font-size: 100%;
}

.exobuytit {
  color: white;
  text-align: center;
  font-size: 230%;
}

.buybutton {
  margin-left: 40%;
  padding-top: 2%;
}

.button1 {
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  font-size: 200%;
  background-color: transparent;
}

.button1:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  .button1 {
    display: block;
    margin: 0.4em auto;
  }
}

footer {
  background-color: #010127;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

footer .form-control {
  background-color: black;
  box-shadow: 0 1px 0 0 rgba(250, 250, 250, 0.1);
  border: none;
  resize: none;
  color: white;
  padding: 0.7em 1em;
}

.button2 {
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.3s;
}

.button2:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  .button2 {
    display: block;
    margin: 0.4em auto;
  }
}

.indepth-eye {
  height: 85%;
  width: 75%;
}

.eyebreak {
  padding-right: 2%;
}

.eyebreakh2 {
  font-size: 110%;
}

.indepth-arm {
  height: 95%;
  width: 95%;
  padding: 2% 2% 2%;
}

.armbreak {
  background: linear-gradient(rgba(63, 63, 63, .7), rgba(63, 63, 63, .7));
}

.armbreakdesc {
  color: white;
  font-size: 130%;
}

.armbuy {
  background: linear-gradient(rgba(0, 0, 49, 0.9), rgba(0, 0, 102, .1));
  border-top: 10px solid black;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  width: 55%;
  /* Half width */
  height: 100%;
  /* Half height */
  overflow: auto;
  /* Enable scroll if needed */
  margin-left: 22%;
}

/* Modal Content */
.modal-content {
  position: relative;
  color: white;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.modal-header {
  padding-right: 27%;
  background-color: #00022a;
  color: white;
}

.modal-body {
  text-align: center;
  font-size: 150%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.logmodaltit {
  font-size: 160%;
}

@function remy($value) {
  @return ($value / 16px) * 1rem;
}


.signupa,
[type="submit"] {
  transition: all .25s ease-in;
}

.signup__container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: remy(800px);
  height: remy(480px);
  border-radius: remy(3px);
  box-shadow: 0px remy(3px) remy(7px) rgba(0, 0, 0, .25);
}

.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000066;
}

.container__child {
  width: 50%;
  height: 100%;
  color: #fff;
}

.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.thumbnail__content {
  position: relative;
  z-index: 2;
}

.thumbnail__content {
  align-self: center
}

.signuph1,
.signuph2 {
  color: white;
  transform: translateX(18%);
}

.heading--primary {
  font-size: 1.999rem;
}

.heading--secondary {
  font-size: 1.414rem;
}

.signup__form {
  padding: 2.5rem;
  background: #fafafa;
}

.signuplabel {
  font-size: .85rem;
  text-transform: uppercase;
  color: #000066;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.form-control:focus {
  border-color: #030345;
}

.btn--form {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: rgb(4, 207, 243);
  border-radius: remy(35px);
}

.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #030345;
}

.transparent {
  color: transparent;
}

.loginbutton {
  color: transparent;
  background-color: transparent;
  border: transparent;
}

.shopimg {
  height: 100%;
  width: 100%;
  margin-left: 4%;
  border: #000066 solid 6px;
}

.shopheader {
  text-align: center;
  color: white;
}

.shopbutton {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  margin-left: 40%;
}

.shopbutton:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.shopdesc {
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 120%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(8, 211, 247)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (max-width:1082px) {
  .exobreakdown {
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
  }

  .exobreaktit {
    color: white;
    text-align: center;
    font-size: 225%;
  }
  
  .exobreakdesc {
    color: white;
    font-size: 95%;
  }
}

@media screen and (max-width:990px) {
  .misquotegif {
    width: 90%;
  }

  .misquote {
    padding-right: 2%;
    font-size: 110%;
  }
}

@media screen and (max-width:974px) {
  .misfoot {
    margin-top: 80%;
  }

  .teamback {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url('#');
  }

  .exobreakdown {
    height: 85%;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .exobreaktit {
    color: white;
    text-align: center;
    font-size: 170%;
  }
  
  .exobreakdesc {
    color: white;
    font-size: 85%;
  }
}


@media screen and (max-width:850px) {
  .misfoot {
    margin-top: 90%;
  }

  .expteam {
    padding-top: 5%;
  }

  .shopimg {
    height: 80%;
    width: 100%;
  }

  .exobreakdown {
    height: 95%;
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
  }
  
  .exobreaktit {
    color: white;
    text-align: center;
    font-size: 150%;
  }
  
  .exobreakdesc {
    color: white;
    font-size: 60%;
  }
}

@media screen and (max-width:767px) {
  .shopimg {
    height: 95%;
    width: 90%;
  }

  .exobreakdown {
    height: 90%;
    width: 100%;
    margin-top: 2%;
    margin-left: 0%;
  }
  
  .exobreaktit {
    color: white;
    text-align: center;
    font-size: 220%;
  }
  
  .exobreakdesc {
    color: white;
    font-size: 100%;
  }

  .exotit {
    font-size: 450%;
  }

  .exotitdesc {
  font-size: 250%;
  }
}

@media screen and (max-width:765px) {
  .mtit {
    font-size: 180%;
    padding-top: 5%;
  }

  .mstmnt {
    font-size: 103%;
  }

  .misquote {
    padding-right: 8%;
    font-size: 103%;
  }

  .misfoot {
    margin-top: 100%;
  }
}

@media screen and (max-width:650px) {
  .misfoot {
    margin-top: 250%;
  }

  .buybutton {
  margin-left: 30%;
  padding-top: 2%;
  }
  .exotit {
    font-size: 400%;
  }

  .exotitdesc {
  font-size: 200%;
  }
}

@media screen and (max-width:570px) {
  .mtit {
    font-size: 125%;
    padding-top: 5%;
  }

  .mstmnt {
    font-size: 70%;
  }

  .misquote {
    padding-right: 8%;
    font-size: 70%;
  }

  .exotit {
    font-size: 370%;
  }

  .exotitdesc {
  font-size: 170%;
  }
}

@media screen and (max-width:519px) {
  .landtext {
    font-size: 75%;
  }

  .ethtit {
    font-size: 125%;
  }

  .ethdesc {
    font-size: 100%;
  }

  .ethbul {
    font-size: 100%;
  }

  .expteam {
    font-size: 125%;
  }

  .expdesc {
    font-size: 100%;
  }

  .misfoot {
    margin-top: 300%;
  }

}

@media screen and (max-width:480px) {
  .buybutton {
    margin-left: 0%;
    padding-top: 2%;
    }
    .exotit {
      font-size: 320%;
    }
  
    .exotitdesc {
    font-size: 150%;
    }
}

@media screen and (max-width:450px) {
  .misfoot {
    margin-top: 350%;
  }

  .footer {
    font-size: 70%;
  }

  .footertit {
    font-size: 120%;
  }
}

@media screen and (max-width:395px) {
  .misfoot {
    margin-top: 400%;
  }

  .exotit {
    font-size: 300%;
  }

  .exotitdesc {
  font-size: 125%;
  }
}

@media screen and (max-width:375px) {
  .landtext {
    font-size: 65%;
  }

  .misfoot {
    margin-top: 450%;
  }
}

@media screen and (max-width:320px) {
  .landtext {
    font-size: 60%;
  }

  .misfoot {
    margin-top: 500%;
  }
  .exotit {
    font-size: 270%;
  }

  .exotitdesc {
  font-size: 100%;
  }
}